@{
    ViewData["Title"] = "About Me";
}

<h1 class="display-3">- About Me -</h1>
<br>
<br>

<h3>Hi! My name is Gary.</h3>
<br>
<p class="w-75 border border-primary p-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium quisquam odio placeat, vel aut ducimus nostrum nihil dicta. Error voluptatem suscipit vitae voluptate dolor commodi recusandae non culpa est labore? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium quisquam odio placeat, vel aut ducimus nostrum nihil dicta. Error voluptatem suscipit vitae voluptate dolor commodi recusandae non culpa est labore?</p>