body {
    background-image: linear-gradient(#5eb1d8, #427a94);
    min-height: 945px;
    padding: 0;
    margin: 0;
}

.container-fluid {
    display: flex;
    height: 100%;
    padding: 0;
}

section {
    height: 100%;
}

#list {
    flex: 3;
}

#details {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.404);
}

#btnHideShow {
    padding-right: 15px;
}

#btnHideShow i {
    margin-right: 10px;
}

.control {
    display: block;
}

#iconImp {
    font-size: 25px;
    color: #063ef7;
}

.shadow-right {
    box-shadow: 0px 0px 10px #232931;
}

#taskSubmit {
    /* margin-right: 3rem; */
}

.oneTask {
    height: 5rem;
    background-color: rgba(255, 255, 255, 0.45);
    border: 2px solid rgba(90, 90, 90, 0.75);
    border-radius: 5px;
}

.oneTask p {
    margin-right: 0;
}

#noTasks {
    height: 40vh;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.25);
    border: 2px solid rgba(90, 90, 90, 0.75);
    border-radius: 5px;
    color: rgba(90, 90, 90, 0.55);
}

.oneTask {
    font-size: 18px;
}

.hide {
    display: none;
}